<connectionStrings>
  <clear/>
  <add name="PMSReadOnlyConnString" connectionString="rwVDfcNkdqz1Zl/lOSlJKCvpV1YN8IbGYQrX6uZSsaAZqWYkpJ3sNqX7h6xiaKGjYu8YKotwmYrvKPVAwcSHYol/tvIcLXYLi1vvGVxHLWJqX+hmSBOdIjMboRwEM0eg/x5DTIqfnP3BJwEUpZTi47BIKxVd9adZ" providerName="System.data.SqlClient" />
  <add name="LMSConnString" connectionString="rwVDfcNkdqz1Zl/lOSlJKCvpV1YN8IbGYQrX6uZSsaAZqWYkpJ3sNqX7h6xiaKGjYu8YKotwmYrvKPVAwcSHYol/tvIcLXYLi1vvGVxHLWJqX+hmSBOdIjMboRwEM0eg/x5DTIqfnP3BJwEUpZTi47BIKxVd9adZ" providerName="System.data.SqlClient" />
</connectionStrings>

<!--<connectionStrings>
  <clear/>
  <add name="LMSConnString" connectionString="OaUiMMBYnrZ1gv4wwBoL9C+ta+Rckt2bxZjaIEqAY6t2LR9XNG+M72QVhaViTC71fdNDI/gKlRf9PtIE45u6ZgNaGqlx2YEyFGXeeRNm6zymJ5Wu6UB4cEKrrSWKYH9bZWQzr8MpuznJvfE0yWpsqswYVaKFh4vFum1X9kOXoOMdVxbPkpAKOYPoWXqglaVYL61r5FyS3Zsw0S/uSsbV0dwJzcV6AW5PLNGpeZ0Cgiop8lTvgi/19w==" providerName="System.data.SqlClient" />
  <add name="PMSReadOnlyConnString" connectionString="OaUiMMBYnrZ1gv4wwBoL9C+ta+Rckt2bxZjaIEqAY6t2LR9XNG+M72QVhaViTC71fdNDI/gKlRf9PtIE45u6ZgNaGqlx2YEyFGXeeRNm6zymJ5Wu6UB4cEKrrSWKYH9bZWQzr8MpuznJvfE0yWpsqswYVaKFh4vFum1X9kOXoOMdVxbPkpAKOYPoWXqglaVYL61r5FyS3Zsw0S/uSsbV0dwJzcV6AW5PLNGpeZ0Cgiop8lTvgi/19w==" providerName="System.data.SqlClient" />
</connectionStrings>-->