<connectionStrings>
  <clear/>
  <add name="PMSReadOnlyConnString" connectionString="rwVDfcNkdqz1Zl/lOSlJKCvpV1YN8IbGYQrX6uZSsaAZqWYkpJ3sNqX7h6xiaKGjYu8YKotwmYrvKPVAwcSHYol/tvIcLXYLi1vvGVxHLWJqX+hmSBOdIjMboRwEM0eg/x5DTIqfnP3BJwEUpZTi47BIKxVd9adZ" providerName="System.data.SqlClient" />
  <add name="LMSConnString" connectionString="rwVDfcNkdqz1Zl/lOSlJKCvpV1YN8IbGYQrX6uZSsaAZqWYkpJ3sNqX7h6xiaKGjYu8YKotwmYrvKPVAwcSHYol/tvIcLXYLi1vvGVxHLWJqX+hmSBOdIjMboRwEM0eg/x5DTIqfnP3BJwEUpZTi47BIKxVd9adZ" providerName="System.data.SqlClient" />
</connectionStrings>