<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="ssoAuthsiteId" value="test"/>
    <add key="ssoLogin" value="Y"/>
  </appSettings>
  <system.serviceModel>
    <bindings>
      <wsHttpBinding>
        <binding name="WSHttpBinding_ISSOService" closeTimeout="00:01:00"
          openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:01:00">
          <security mode="None" />
        </binding>
      </wsHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://sso.rofengda.com/RFDSSO.svc" binding="wsHttpBinding"
        bindingConfiguration="WSHttpBinding_ISSOService" contract="ISSOService"
        name="WSHttpBinding_ISSOService" />
    </client>
  </system.serviceModel>
</configuration>